#wallpaper {
	padding: 10px;
	vertical-align: middle;
	height: 66px;
	background-image: url('images/mslivewallpaper.png');
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
      font-family: Segoe UI;
}